body,html{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)rgb(53, 77, 77);
  padding:0;
  margin:0;
  width:100vw;
  height: 100vh;
  overflow: hidden;
}
#root{
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box{
  width:90%;
  height:95%;
  background:rgba(51, 51, 51, 0.562);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.stack{
  flex:.13;
  display: flex;
  justify-content: center;
}
.board{
  flex:.74;
  display: flex;
  justify-content: center;
}
.plate{
  background:rgba(19, 24, 45, 0.31);
  display: flex;
  justify-content: space-between;
  transition: width .5s;
}

.plate.me{
  min-width: 500px;
  border-radius: 10px 10px 0 0;
}
.plate.opponet{
  min-width: 300px;
  border-radius:0 0 10px 10px
}
.plate .profile{
  width:80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plate .profile .image{
  width: 70%;
  height: 70%;
  background:rgba(242, 228, 15, 0.85);
  border-radius: 5px;
}
.plate.me .profile .image{
  background: rgba(242, 15, 100, 0.85);
}
.plate .point{
  flex:.2;
  color:#999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10px auto;
  min-width: 70px;
}
.plate .point span{
  margin:5px;
  color:#fff;
}
.plate .tile{
  flex:1;
}

.simi{
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  background:rgba(62, 72, 75, 0.753);
  padding:20px 10px 150px;
  opacity: 0;
  transform: translateY(300px);
  transition: all ease-in-out .5s;
}
.simi.active{
  opacity: 1;
  transform: translateY(0px);
  z-index: 999;
}

.simi-row{
  display: flex;
  justify-content: center;
  margin-bottom:5px;
}
.simi-col{
  margin:2px;
  width:25px;
  height: 50px;
  position: relative;
  background: #c4c4c445;
  border-radius: 5px;
}
.simi-col img{
  width:25px;
}
.tile{
  display: flex;
  align-items: center;
}

.user-hand{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.opponet .user-hand{
}
.opponet .hand-tile{
  margin-right:-8px;
}
.me .hand-tile{
  margin:2px;
}
.opponet .hand-tile img{
  width:25px;
  box-shadow: 0 0 10px rgb(112, 112, 112);
  border-radius: 5px;
}
.me .hand-tile img{
  width:35px;
}
.abs{
  position: absolute;
  left: 0;
  top:0;
  transition: all .4s;
}
.hand-tile.none{
  visibility: hidden ;
}

.board-dir{
  transition: transform 450ms ease-in-out 16ms, opacity 650ms ease-in 1ms;
  /* transform: scale(0.854286) translate3d(650px, 177px, 0px); */
  position: absolute;
  z-index: 15;
  left: 50%;
  top: calc(50% - 30px);
  pointer-events: none;
  opacity: 1;
}
.board-dir .abs{
  width:35px;
  transform-origin: 50% 50% 0px;
}